html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'ZCOOL XiaoWei', serif;
  color: #fff;
}

a {
  color: #b32146;
}

a:hover {
  text-decoration: none;
}

.cover {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #050505;
  background: -webkit-gradient(linear, left top, right top, from(#050505), to(#323939));
  background: linear-gradient(90deg, #050505 0%, #323939 100%);
}

.cover .intro {
  font-size: 1.2em;
}

.cover .intro .jobs-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 840px) {
  .cover .intro .jobs-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cover .intro .jobs-name div {
  display: inline;
  margin: 0 10px;
}

.cover .intro .jobs-name div:after {
  content: '';
}

.jobs {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ccc1c6;
  background: -webkit-gradient(linear, left top, right top, from(#ccc1c6), to(#f5f6f6));
  background: linear-gradient(90deg, #ccc1c6 0%, #f5f6f6 100%);
  color: #222;
}

.jobs .job {
  margin: 20px auto;
  text-align: center;
}

.jobs .job .card img {
  height: 200px;
  width: 200px;
}

.courses {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #44d5f7;
  background: -webkit-gradient(linear, left top, right top, from(#4cad9b), to(#05e0a3));
  background: linear-gradient(90deg, #4cad9b 0%, #05e0a3 100%);
  color: #fff;
}

.courses .course {
  margin: 20px auto;
  text-align: center;
}

.courses .course .card {
  color: #222;
}

.courses .course .card iframe {
  width: 100%;
  height: 195;
}

.courses .course .card img {
  height: 200px;
  width: 200px;
}

.footer {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #44d5f7;
  background: -webkit-gradient(linear, left top, right top, from(#04155d), to(#000d4e));
  background: linear-gradient(90deg, #04155d 0%, #000d4e 100%);
  color: #fff;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media (max-width: 840px) {
  .footer .social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .social a {
  color: #fff;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  background-color: #222;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 100;
}

#preloader #overlayer {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #4a4a4a;
}

#preloader .loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 300;
  border: 4px solid #Fff;
  top: 50%;
  left: 50%;
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
}

#preloader .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
          animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
/*# sourceMappingURL=main.css.map */